# MkDocs configuration for  builds with Material theme

site_name: Percona Packages for Valkey
site_description: Documentation
site_author: Percona LLC
copyright:  <a href="https://www.percona.com/about">Percona LLC</a> and/or its affiliates © 2025 — <a href="#__consent">Cookie Consent</a>

repo_name: percona/percona-valkey-doc

repo_url: https://github.com/percona/percona-valkey-doc
edit_uri: edit/main/docs/

use_directory_urls: false

# Material theme features
theme:
  name: material
  logo: _images/percona-mark.svg
  favicon: _images/percona-fav.svg
  custom_dir: _resource/overrides/
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    edit: material/file-edit-outline
    view: material/file-eye-outline

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Color theme set to Automatic. Click to change
    - media: "(prefers-color-scheme: light)"
      scheme: percona-light
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Color theme set to Light Mode. Click to change
    - media: "(prefers-color-scheme: dark)"
      scheme: percona-dark
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Color theme set to Dark Mode. Click to change

# Theme features

  features:
    - search.highlight
    - navigation.top
    - navigation.tracking
    - content.tabs.link
#    - content.action.edit
    - content.action.view
    - content.code.copy

extra_css:
  - https://unicons.iconscout.com/release/v3.0.3/css/line.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css
  - css/extra.css
  - css/design.css
  - css/osano.css
  - css/landing.css
  - css/rating.css

extra_javascript:
  - js/promptremover.js
  - js/consent.js
  - js/rating.js

markdown_extensions:
  attr_list: {}
  toc:
    permalink: True
    title: On this page
  admonition: {}
  footnotes: {}
  def_list: {} # https://michelf.ca/projects/php-markdown/extra/#def-list
  meta: {}
  md_in_html: {}
  smarty:
      {smart_angled_quotes: true}
  pymdownx.details: {}
  pymdownx.mark: {}
  pymdownx.smartsymbols: {}
  pymdownx.tabbed:
      {alternate_style: true}
  pymdownx.tilde: {}
  pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.highlight:
      use_pygments: true
  pymdownx.inlinehilite: {}
  pymdownx.snippets:
      base_path: ["snippets"]
#      auto_append:
#        - services-banner.md
  pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - _resource/.icons


plugins:
  section-index: {}
  search:
    separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  git-revision-date-localized:
    enable_creation_date: true
    enabled: !ENV [ENABLED_GIT_REVISION_DATE, True]
  git-committers:
    enabled: !ENV [CI, false]
    repository: percona/percona-valkey-doc
    branch: "main"
  meta-descriptions:
    export_csv: false
    quiet: false
    enable_checks: false
    min_length: 50
    max_length: 160
  macros:
      include_yaml:
        - 'variables.yml' # Use in markdown as '{{ VAR }}'
# exclude: # Don't process these files
#      glob:
#         - file.md
#  with-pdf: # https://github.com/orzih/mkdocs-with-pdf
#          output_path: '_pdf/PerconaDistributionPostgreSQL-16.pdf'
#          cover_title: 'Distribution for PostgreSQL Documentation'#

#          cover_subtitle: 16.3 (June 6, 2024)
#          author: 'Percona Technical Documentation Team'
#          cover_logo: docs/_images/Percona_Logo_Color.png
#          debug_html: false
#          custom_template_path: _resource/templates
#          enabled_if_env: ENABLE_PDF_EXPORT
#  mike:
#      version_selector: true
#      css_dir: css
#      javascript_dir: js
#      canonical_version: null#

#Google Analytics configuration
extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY

nav:
  - "Home": index.md
  - get-help.md
  - "Overview":
    - "What is Percona Valkey?": overview/overview.md
    - "What does Percona offer?": overview/offers.md
  - "Get started":
    - "Quickstart guide": quick-start/index.md
    - "Install from the Percona repository": get-started/installation.md
  - "Migration guide":
    - "Migrate from Redis to Valkey": migration-guide/migration.md
    - "Migrate a cluster": migration-guide/migrate-cluster.md
  - "Release notes":
    - "Release notes index": release-notes/release-notes.md
    - 8.1.x:
      - "8.1.0": release-notes/8.1.0.md
      - "8.1.0 RC2": release-notes/8.1.0-rc2.md
      - "8.1.0 RC1": release-notes/8.1.0-rc1.md
    - 8.0.x:
      - "8.0.2": release-notes/8.0.2.md
      - "8.0.1": release-notes/8.0.1.md
      - "8.0.0 GA": release-notes/8.0.0.md
      - "8.0.0 RC2": release-notes/8.0.0-rc2.md
      - "8.0.0 RC1": release-notes/8.0.0-rc1.md
    - 7.2.x:
      - "7.2.8": release-notes/7.2.8.md
      - "7.2.7": release-notes/7.2.7.md
      - "7.2.6 GA": release-notes/7.2.6.md
      - "7.2.5 GA": release-notes/7.2.5.md
      - "7.2.5 RC1": release-notes/7.2.5-rc1.md
      - "7.2.4 RC1": release-notes/7.2.4.md
    - release-notes/acknowledgements.md
